.module-editor .editor-container .editor-box .box-container .image-holder .image {
  position: relative;
  height: 100%;
}
.module-editor .editor-container .editor-box .box-container .image-holder .image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
